.control {
    box-sizing: border-box;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    button {
        padding: 5px 10px;
        color: #ffffff;
        border: 1px solid #ffffff;
        background-color: transparent;
        border-radius: 99px;
        cursor: pointer;
        margin-right: 10px;
        &:disabled {
            cursor: not-allowed;
        }
    }
    input {
        display: none;
    }
}
